<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<display-name>Task Tracker Web App</display-name>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>TaskTrackerApplication</servlet-name>
		<servlet-class>org.sansoft.tt.web.MainApp</servlet-class>
		<init-param>
			<param-name>locale</param-name>
			<param-value>US</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskTrackerApplication</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
